.clients {
    padding: 100px 0 0;
    margin-bottom: 100px;
    &__content {
        padding: 0;
    }
    &__card {
        
        width: 535px;
        margin-top: 100px;
        box-shadow: 0 0 19px -3px  rgb(77, 77, 104);
        position: relative;

        &:last-child {
            box-shadow: none;
            border: 2px solid #cecece;
            margin-left: 30px;

        }

        &:before {
            content: '';
            position: absolute;
            top: -55px ;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100px;
            height: 100px;
            
            border: 1px solid #cecece;
            border-radius: 50%;
            
            

            background-color: #fff;
        }
    }

    &__desc {
        font-family: 'MyriadPro';
        padding: 90px 40px 14px;
        text-align: center;
    }
    &__star {
        text-align: center;
        margin: 15px 0;
    }
    &__author {
        display: flex;
        justify-content: center;
        padding-bottom: 35px;

        & p {
            font-weight: bold;
        }
    }
}   

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider {
    position: relative;

    &__btns {
        position: absolute;
        top: 60%;
        z-index: 9;
        width: 100%;
        display: flex;
        justify-content: space-between;

    } 
}
    
.next-btn {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    
    top: 60%;
    right: -40px;

    border: 12px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 19px -9px  rgb(77, 77, 104);
    outline: none;

    cursor: pointer;
    
    
    img {
        transform: rotate(180deg);
        
    }
}
.prev-btn {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    left: -10px;
    top: 60%;

    width: 40px;
    height: 40px;

    border: 12px solid #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 19px -9px  rgb(77, 77, 104);

    cursor: pointer;
}

@media (max-width: 1200px) {
    .next-btn {
        top: 100%;
        transform: translate(-460px, 180px);
    }
    .prev-btn {
        top: 100%;
        transform: translate(180px, -460px);
    }
}

