.links {
    background-color: #fbfbfb;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 76px 0 96px;
        
    }
    &__block a:hover {
        transform:translateY(50%)
    }
}

@media (max-width: 991px) {
    .links {
        &__block  {
            
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            a {
                margin-left: 20px;
                margin-top: 20px;
            }
           
        }
    }
}