.services {
    margin: 100px 0;

    &__block {
        display: flex;
        
        align-items: center;
        margin-top: 140px;
    }

    &__item:first-child {
        display: flex;
        flex-direction: column;
    }

    &__card {
        max-width: 100px;
        padding: 25px;
        height: 100px;
        padding-bottom: 0;

        background-color: #fff;
        border: solid 2px #565656;
        transition: all .3s linear;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            box-shadow: 0 0 19px -3px rgb(77, 77, 104);
            transform: translateX(10%)
        }

        // &:nth-child(2) {
        //     padding-top: 15px;
        // }
    }


    &__product {
        position: relative;
        font-size: 30px;
        font-family: 'MyRiadPro';
        font-weight: 400;
        color: #565656;

        &:after {
            position: absolute;


            left: 0;
            bottom: -15px;
            content: "";
            width: 57px;
            height: 3px;
            background-color: #ff5c36;
        }
    }
    &__desc {
        line-height: 1.5;
    }
    &__content {
        margin-left: 160px;
        margin-bottom: 100px;

        & p {
            margin: 37px 0 29px;
        }
    }
    &__button {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 228px;
        height: 55px;
        margin-top: 45px;

        border: none;
        border-radius: 27px;
        cursor: pointer;
        transition: .3s linear;

        &:hover {
            background-color: #fff;
            box-shadow: 0 0 19px -3px rgb(77, 77, 104);
        }

        & p {
            margin: 0 20px ;
        }

    }
}


@media (max-width: 991px) {
    .services {
        &__block {
           flex-wrap: wrap;
           justify-content: center; 
        }

        &__item {
            width: 50%;

            display: flex;
            max-width: max-content;

            &:nth-child(2) {
               
                margin-right: auto;
                
                width: 70%;
            }
            
        }
        &__desc {
            max-width: 500px;
        }
       
        &__img {
            text-align: center;
        }
        &__button {
            margin-left: 140px;
        }
        &__img {
            margin-top: 50px;
                
            & img {
                max-width: 270px;
            }
        }
        
    }
}
@media (max-width: 768px) {
    .services {
        &__button {
            margin-left: 0;
        }
    }
}


@media (max-width: 568px) {
    .services {
        &__block {
            margin-top: 100px;
        }
        
        &__item:first-child {
            width: 50%;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
        }
       
        &__item:nth-child(2) {
            width: 100%;
        }
        &__button {
            margin-left: 50px;
            width: 150px;
            height: 56px;
            p {
                margin: 0;
                padding-left: 15px;
            }
        }
        &__img img {
            max-width: 200px;
        }
        &__content {
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 100px;

        }

    }
    
}
