.services {
    margin: 100px 0;
    &__block {
        display: flex;
        margin-top: 140px;
    }
    &__item {
       
    }
    &__card {
        width: 100px;

        padding: 25px;
        padding-bottom: 0;

        background-color: #fff;
        box-shadow: 0 0 19px -3px  rgb(77, 77, 104);

        margin-bottom: 10px;
        &:nth-child(2) {
         padding-top: 15px;   
        }
    }
   

    &__product {
        position: relative;
        font-size: 30px;
        font-family: 'MyRiadPro';
        font-weight: 400;
        color: #565656;
        &:after {
         position: absolute;
         
         
         left: 0;
         bottom: -15px;
         content: "";
         width: 57px;
         height: 3px;
         background-color: #ff5c36;
        }
    }
    &__content {
        margin-left: 160px;
        & p {
            margin: 37px 0 29px;
        }
    }
    
    
        &__button {
        margin-top: 45px;
    }
    
    









    &__button {
        position: absolute;
        // bottom: -20px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 228px;
        height: 55px;

        border: none;
        border-radius: 27px;
        cursor: pointer;

        background-color: #fff;
        box-shadow: 0 0 19px -3px  rgb(77, 77, 104);

        & p {
            margin-left: 20px;
        }

    }
}