.working {

    padding-top: 25px;

    &__title {
        text-align: center;
        margin-top: 150px;
        font-size: 30px;

        h2 {
            color: #565656;
        }
    }

    &__subtitle {
        margin-top: 5px;
    }

    &__block {
        display: flex;

        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 120px 0 140px;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        padding: 51px 0 70px;
        margin-left: 35px;

        min-height: 284px;



        background-color: #4eb2f7;

        &:hover {
            box-shadow: 0 0 39px -6px rgb(77, 77, 104);
            transition: .2s linear;
            cursor: pointer;
            transform: scale(1.2);
        }

    }

    &__card--first {
        margin-left: 0;
    }

    &__card--purple {
        background-color: #c049f8;
    }

    &__card--blue {
        background-color: #817eff;
    }

    &__card--red {
        background-color: #f74770;
    }

    &__name {
        margin: 20px 0;

        font-family: 'OpenSans';
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }

    &__subtitle {
        color: #a1a1a1;
        text-align: center;
    }

    &__text {
        color: #fff;
        font-family: 'OpenSans';
        font-weight: 400;
        line-height: 1.5;
    }

    &__button {
        position: absolute;
        bottom: -20px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 228px;
        height: 55px;

        border: none;
        border-radius: 27px;

        background-color: #fff;

        &:hover {
            box-shadow: 0 0 19px -3px rgb(77, 77, 104);
            cursor: pointer;

        }



        & p {
            margin-left: 20px;
        }

    }
}

@media (max-width: 1200px) {
    .working {

        &__block {
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;
            display: flex;
            justify-content: center;
        }

        &__card--blue,
        &__card--red {
            margin-top: 80px;
        }

        &__card--blue {
            margin-left: 0;
        }

        &__title {
            margin-top: 80px;
        }

    }
}

@media (max-width: 568px) {
    .working {
        &__block {
            margin: 50px 0;
        }
        &__item {
            width: 100%;
        }

        &__card--blue,
        &__card--red,
        &__card--purple {
            margin: 35px 0;
        }
        &__title {
            margin-top: 40px;
        }

    }
}